
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 209 96% 13%;

    --card: 0 0% 100%;
    --card-foreground: 209 96% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 209 96% 13%;

    --primary: 203 39% 38%;
    --primary-foreground: 0 0% 100%;

    --secondary: 84 6% 85%;
    --secondary-foreground: 209 96% 13%;

    --muted: 84 6% 90%;
    --muted-foreground: 209 50% 25%;

    --accent: 195 50% 67%;
    --accent-foreground: 209 96% 13%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 203 39% 38%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .app-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
